@{
    var response = (WM.Merchant.WMResponseHandler<WM.Merchant.Models.CreateOrderResponse>)ViewData["Response"];
}

@if (response != null)
{
    <div class="row">
        <div class="col-12-xs">
            <h4>Response Code</h4>
            <table class="table table-striped">
                <tr>
                    <td><b>Error Code:</b></td>
                    <td>@response.ErrorCode.ToString()</td>
                </tr>
                <tr>
                    <td><b>Message:</b></td>
                    <td>@response.Message</td>
                </tr>
                <tr>
                    <td><b>UI Message:</b></td>
                    <td>@response.UIMessage</td>
                </tr>
            @if (!response.IsError())
            {
                var responseObject = (WM.Merchant.Models.CreateOrderResponse)response.Object;

                <tr>
                    <td><b>Transaction ID:</b></td>
                    <td>@responseObject.TransactionID</td>
                </tr>
                <tr>
                    <td><b>Redirect URL:</b></td>
                    <td><a target="_blank" href="@responseObject.RedirectURL">
                        @responseObject.RedirectURL
                        </a>
                    </td>
                </tr>
            }
            </table>
        </div>
    </div>
}
